<div id="<%= dom_id answer %>">
  <p>
    <strong>Question answer:</strong>
    <%= answer.question_answer %>
  </p>

  <p>
    <strong>Correct:</strong>
    <%= answer.correct %>
  </p>

  <p>
    <strong>User:</strong>
    <%= answer.user_id %>
  </p>

  <p>
    <strong>Quiz:</strong>
    <%= answer.quiz_id %>
  </p>

  <p>
    <strong>Answer:</strong>
    <%= answer.answer_id %>
  </p>

</div>
