<%= form_with(model: quiz_test) do |form| %>
  <% if quiz_test.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(quiz_test.errors.count, "error") %> prohibited this quiz_test from being saved:</h2>

      <ul>
        <% quiz_test.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :name, style: "display: block" %>
    <%= form.text_field :name %>
  </div>

  <div>
    <%= form.label :question_description, style: "display: block" %>
    <%= form.text_area :question_description %>
  </div>

  <div>
    <%= form.label :author, style: "display: block" %>
    <%= form.text_field :author %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
